<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PE Tracker</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>HELLO WORLD at <%= time %>!</h1>
    <button id="ping" onclick="javascript:send('ping');">Ping</button>
      <p id="output"></p>
      <script>
      const output = document.getElementById("output");
      const end = async function(buttonId) {
        const response = await fetch("/log", {
          method: "POST",
          headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            id: buttonId
          })
        });
        const result = await response.text();
        if (result.error) {
          output.innerHTML = `<strong>ERROR: ${result.error}</strong>`;
        }
        else {
          output.innerHTML = `Pong at ${result.time}`;
        }
      };
      </script>
  </body>
</html>